/* ---------------GENERAL SETTINGS-------------------- */

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}

/* margin and padding OFF */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* ------------------UNIVERSAL CLASSES--------------------- */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
.novaposhta-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 12px;
}
.novaposhta-subtitle {
  margin-top: 12px;
}
/* ================== FORM ====================== */
.novaposhta-form {
  min-width: 320px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0 8px 4px 8px;
  margin: 0 auto;
}
.novaposhta-form-general-wrapper {
  width: 100%;
}
.novaposhta-shipment-parameters-general-wrap {
  display: flex;
  column-gap: 24px;
}
.novaposhta-place-receipt-wrap {
  display: flex;
  column-gap: 52px;
  margin-top: 12px;
}
.novaposhta-payer-for-delivery-wrap {
  display: flex;
  column-gap: 60px;
}
.novaposhta-switch-wrap {
  display: flex;
}
.novaposhta-title-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.novaposhta-form-recipient {
  width: 100%;
  row-gap: 8px;
}
.novaposhta-shipment-parameters-general {
  display: flex;
  gap: 4px;
}
.novaposhta-shipment-parameters-wrap-lhct {
  display: flex;
  column-gap: 16px;
  row-gap: 4px;
}
.novaposhta-shipment-parameters-wrap {
  display: flex;
  border: 1px solid #c8c8c8;
  flex-direction: column;
  padding: 8px;
  row-gap: 8px;
}
.novaposhta-form-payment-for-delivery {
  padding-top: 12px;
}
.novaposhta-shipment-parameters-general-sender {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.distance-between-checkbox {
  margin-right: 12px;
}

.novaposhta-form-cub::before {
  content: '³';
  vertical-align: super;
  margin-right: 2px;
}

.novaposhta-shipment-parameters {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.novaposhta-form-label-value {
  display: flex;
  align-items: flex-end;
}

.novaposhta-form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.novaposhta-form-label-other {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 4px;
}
.novaposhta-form-label-total {
  display: flex;
  column-gap: 4px;
  justify-content: end;
  font-size: 28px;
}
.novaposhta-form-label-total-span {
  font-weight: 700;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 56px;
}

.novaposhta-form-label-other-parameters {
  width: 140px;
}
.novaposhta-form-label-value-weight {
  padding-top: 8px;
  padding-right: 8px;
}
.novaposhta-form-label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: border 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.novaposhta-form-label-select {
  outline: none;
  border: none;
  padding: 8px;
  height: 38px;
  width: 100%;
  text-align: center;
}

.novaposhta-form-label-input {
  outline: none;
  border: none;
  padding: 4px;
  height: 38px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.novaposhta-form-label-input-pay-color {
  color: red;
}

.novaposhta-form-input {
  border: 1px solid #c8c8c8;
  transition: border 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.novaposhta-form-input:hover {
  border-color: gray;
}
.novaposhta-form-wrapper-receiver {
  display: flex;
  column-gap: 12px;
}
.novaposhta-form-label-department {
  width: 65%;
}

.novaposhta-form-label-locality {
  width: 35%;
}
.novaposhta-form-label-checkbox {
  display: flex;
  flex-wrap: wrap;
}
/* ****************** switch-slider **************** */
.novaposhta-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
}
.novaposhta-switch-input:checked + .novaposhta-switch-slider {
  background-color: gray;
}
.novaposhta-switch-input:focus + .novaposhta-switch-slider {
  box-shadow: 0 0 1px red;
}
.novaposhta-switch-input:checked + .novaposhta-switch-slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}
.switch-slider::before,
.novaposhta-switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  right: 0.6px;
  left: 0.6px;
  bottom: 0.6px;
  height: 18.8px;
  width: 18.8px;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.4);
  transition: 0.4s;
}
.novaposhta-switch-slider-name {
  margin-top: 8px;
  margin-left: 8px;
}
.novaposhta-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #cecdcd;
  transition: 0.4s;
}
.novaposhta-switch {
  display: block;
  padding-top: -25px;
  position: relative;
  width: 46px;
  height: 20px;
  margin-top: 4px;
  display: flex;
}
.novaposhta-switch-input:focus + .novaposhta-switch-slider {
  box-shadow: 0 0 1px rgb(177, 177, 174);
}
.novaposhta-switch-input:checked + .novaposhta-switch-slider {
  background-color: red;
}
/* ---------------- button ---------------------- */
.novaposhta-btn-wrap {
  display: flex;
  flex-wrap: wrap;
}
.novaposhta-btn-submit {
  margin-right: auto;
  cursor: pointer;
  height: 50px;
  padding: 12px;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  border: 1px solid;
  border-color: RGB(172, 172, 172);
  background-color: RGB(241, 241, 241);
  transition: background-color 250ms, border-color 250ms, color 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.novaposhta-btn-submit:is(:hover, :focus) {
  background-color: grey;
  border-color: #000;
  color: #fff;
}
.novaposhta-link {
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 12px;
  color: grey;
  transition: background-color 250ms, color 250ms;
  transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}
.novaposhta-link::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: gray;
  transform: translateX(-101%);
  transition: all 250ms linear;
}
.novaposhta-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: gray;
  transform: translateX(+101%);
  transition: all 250ms linear;
}
.novaposhta-link:hover::before {
  transform: translateX(0);
}
.novaposhta-link:hover::after {
  transform: translateX(0);
}

.novaposhta-link {
  padding: 3px 2px;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.novaposhta-title {
  font-size: 16px;
  line-height: 1.5;
}
.wrap-button {
  margin: 12px 0 4px 0;
}

/*!##################### 1280px-.... ########################### */
@media screen and (min-width: 1280px) {
  .novaposhta-form-wrapper {
    display: flex;
    column-gap: 48px;
  }
  .novaposhta-form-recipient,
  .wrap-button {
    width: 70%;
  }
  .novaposhta-shipment-parameters-general-wrap {
    flex-wrap: nowrap;
  }
}

/*!##################### .... -376px ########################### */
@media screen and (max-width: 376px) {
  .novaposhta-shipment-parameters-general-wrap,
  .novaposhta-shipment-parameters-general,
  .novaposhta-btn-wrap,
  .novaposhta-form-wrapper-receiver {
    flex-wrap: wrap;
    row-gap: 8px;
    justify-content: center;
  }
  .novaposhta-title-wrap,
  .novaposhta-payer-for-delivery-wrap,
  .novaposhta-switch-wrap,
  .novaposhta-place-receipt-wrap {
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .novaposhta-btn-submit {
    margin: 0;
  }
  .novaposhta-form-label {
    width: 100%;
  }
}
