/* ---------------GENERAL SETTINGS-------------------- */
:root {
  /* -----background color----------*/
  --first-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
  --third-background-color: #4d5ae5;
  --fourth-background-color: #ffffff;
  /* -------accent-color ----------*/
  --accent-color: gray;
  /* ---------- transition ------------- */
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
}

/* margin and padding OFF */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

/* ------------------UNIVERSAL CLASSES--------------------- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* -------------------- modal window and backdrop ----------------- */

.novaposhta-modal-window {
  min-width: 345px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin: 0 auto;
}

.novaposhta-modal-form-general-wrapper {
  width: 100%;
}

.burger-switch-input {
  height: 0;
  width: 0;
  opacity: 0;
  border-radius: 35px;
}
.burger-switch-input:checked + .burger-switch-slider {
  background-color: var(--accent-color);
}
.burger-switch-input:focus + .burger-switch-slider {
  box-shadow: 0 0 1px red;
}
.burger-switch-input:checked + .burger-switch-slider::before {
  transform: translateX(26px);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
}
.switch-slider::before,
.burger-switch-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  right: 0.6px;
  left: 0.6px;
  bottom: 0.6px;
  height: 18.8px;
  width: 18.8px;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  box-shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.4);
  transition: 0.4s;
}
.burger-switch-slider-name {
  margin-top: 8px;
  margin-left: 8px;
}
.burger-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 20px;
  border-radius: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* винести в змінну */
  background-color: #cecdcd;
  transition: 0.4s;
}
.burger-switch {
  display: block;
  padding-top: -25px;
  position: relative;
  width: 46px;
  height: 20px;
}
.burger-switch-input:focus + .burger-switch-slider {
  box-shadow: 0 0 1px rgb(177, 177, 174);
}
.burger-switch-input:checked + .burger-switch-slider {
  background-color: red;
}
.novaposhta-modal-switch {
  margin-top: 4px;
  display: flex;
}
.novaposhta-modal-form-recipient {
  width: 100%;

  row-gap: 8px;
}
.novaposhta-modal-shipment-parameters-general {
  display: flex;
  column-gap: 4px;
}
.novaposhta-modal-shipment-parameters-wrap {
  display: flex;
  border: 1px solid #c8c8c8;
  flex-direction: column;
  padding: 8px;
  row-gap: 8px;
}
.novaposhta-modal-shipment-parameters-general-sender {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.distance-between-checkbox {
  margin-right: 12px;
}
.distance-between-checkbox-receiver {
  margin-right: 52px;
}
.novaposhta-modal-form-cub::before {
  content: '³';
  vertical-align: super;
  margin-right: 2px;
}

.novaposhta-modal-shipment-parameters {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}
.novaposhta-modal-form-label-value {
  display: flex;
  align-items: flex-end;
}
.novaposhta-modal-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin: 12px 0;
}
.novaposhta-modal-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}
.novaposhta-modal-form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.novaposhta-modal-form-label-other-parameters {
  width: 140px;
}
.novaposhta-modal-form-label-value-weight {
  padding-top: 8px;
  padding-right: 8px;
}
.novaposhta-modal-form-label-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.novaposhta-modal-form-label-select {
  outline: none;
  border: none;
  padding: 8px;
  height: 38px;
  width: 100%;
  text-align: center;
}
.novaposhta-modal-form-label-input {
  outline: none;
  border: none;
  padding: 4px;
  height: 38px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.novaposhta-modal-form-label-input-pay-color {
  color: red;
}

.novaposhta-modal-form-input-icon {
  /* position: relative; */
  border: 1px solid #c8c8c8;
  transition: border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.novaposhta-modal-form-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill var(--transition-duration), border var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.novaposhta-modal-form-label:hover .novaposhta-modal-form-label-input {
  color: var(--accent-color);
}
.novaposhta-modal-form-input-icon:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  color: var(--accent-color);
}
/* ---------------------- modal window button --------------------------- */
.novaposhta-btn-wrap {
  display: flex;
  flex-wrap: wrap;
}
.novaposhta-modal-btn-submit {
  margin-right: auto;
  -moz-border-radius: 2px;
  cursor: pointer;
  height: 50px;
  padding: 12px;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #000;
  border: 1px solid;
  border-color: RGB(172, 172, 172);
  background-color: RGB(241, 241, 241);
}
.novaposhta-modal-link:is(:hover, :focus),
.novaposhta-modal-btn-submit:is(:hover, :focus) {
  background-color: grey;
  border-color: #000;
  color: #fff;
}
.novaposhta-modal-link {
  border: none;
  cursor: pointer;
  background-color: inherit;
  text-decoration: underline;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
  color: grey;
}

.novaposhta-modal-title {
  font-size: 16px;
  line-height: 1.5;
}
.wrap-button {
  margin-top: 40px;
}
.novaposhta-modal-form-wrapper-receiver {
  display: flex;
  column-gap: 12px;
}
.novaposhta-modal-form-label-department {
  width: 65%;
}

.novaposhta-modal-form-label-locality {
  width: 35%;
}
.novaposhta-modal-form-label-checkbox {
  display: flex;
  flex-wrap: wrap;
}
/*!##################### 480px-.... ########################### */
@media screen and (min-width: 1280px) {
  .novaposhta-modal-form-wrapper {
    display: flex;
    column-gap: 48px;
  }
  .novaposhta-modal-form-recipient,
  .wrap-button {
    width: 70%;
  }
}
